@model List<Result>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" action="~/Home/Orders">
        <label>PublicKey</label><br />
        <input type="text" name="publicKey" /><br />
        <label>PrivateKey</label><br />
        <input type="text" name="privateKey" /><br />
        <input type="submit" value="Отправить" />
    </form>
    
</div>
